<mat-card class="dashboard-card">
  <mat-card-header>

    <mat-card-title>
      EMF
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuTemperature" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menuTemperature="matMenu" xPosition="before">
        <button mat-menu-item *ngIf="!this.deviceIsConnected" (click)="this.requestValue()">
          <mat-icon>bluetooth_searching</mat-icon>
          Connect
        </button>
        <button mat-menu-item *ngIf="this.deviceIsConnected" (click)="this.disconnect()">
          <mat-icon>bluetooth_disabled</mat-icon>
          Disconnect
        </button>
      </mat-menu>
    </mat-card-title>
    <mat-card-subtitle *ngIf="!this.deviceIsConnected">
      Please connect your device.
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="this.deviceIsConnected">
      Device collegato!
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">

  </mat-card-content>
</mat-card>

