
<mat-toolbar color="primary">

  <span style="margin-left:20px">PIV </span>
  <span class="example-spacer"></span>
  <button  mat-raised-button color="primary" routerLink="" ><a href="http://localhost:4200/" style="text-decoration:none; color: white;">Home</a></button>
  <span class="example-space"></span>
  <button  mat-raised-button color="primary" routerLink="data" ><a href="http://localhost:4200/data" style="text-decoration:none; color: white;">Storico</a></button>

</mat-toolbar>


<router-outlet></router-outlet>
