<div class="container" xmlns="http://www.w3.org/1999/html">

  <mat-toolbar color="primary">
    <span style="margin-left:20px">PIV Monitoring System</span>
    <span class="example-spacer"></span>
    <button  mat-raised-button color="primary" routerLink="" ><a href="http://localhost:4200/" style="text-decoration:none; color: white;">Home</a></button>
    <span class="example-space"></span>
    <button  mat-raised-button color="primary" routerLink="data" ><a href="http://localhost:4200/data" style="text-decoration:none; color: white;">History</a></button>
  </mat-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    PIV Monitoring System: D'Errico Federico - Giordano Mauro
  </div>

</div>


