.example-spacer {
  flex: 1 1 auto;
}

div.colonne div{ float: left; width: 10%; padding-top: 4%}
/*div#contenitore{ width: 100%; font: arial; }*/

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
